<div class="BorrowBooksSuccessModal modal fade" id="BorrowBooksSuccessModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        .BorrowBooksSuccessModal-main.d-flex.flex-column.align-items-center.justify-content-center.text-center
          .BorrowBooksSuccessModal-icon 
            img(src="./assets/icons/icon-check-circle.svg" alt="")
          h3.text-success.text-uppercase.mb-4 Mượn sách thành công
          p.mb-0.text-dark #[strong Bạn có thể theo dõi tình trạng xử lý đơn mượn sách tại đây]
          a(href="#").fw-500 Xem tại đây
          p Cảm ơn bạn đã dùng dịch vụ của chúng tôi.
          +Button({ title: 'Trở về trang chủ', styleType: 'btn-success', className: 'btn-sm', link: 'index.html' })
      </div>
    </div>
  </div>
</div>