extends includes/layouts/Layout.pug

block sidebar 
  +Sidebar()

block header 
  +Header({ title: 'Quản lý vị trí' })

block pages
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between align-items-center flex-grow-1">
        <div class="col-md-auto">
          <div class="row align-items-center">
            <div class="col-auto mb-2">
              <form>
                <div class="input-group-sm input-group-merge">
                  <div class="input-group-prepend input-group-text">
                    <i class="bi-search"></i>
                  </div>

                  <input type="text" class="js-form-search form-control" placeholder="Nhập từ khóa" aria-label="Nhập từ khóa" data-hs-form-search-options='{ "clearIcon": "#clearSearchResultsTable",  "toggleIconOnFocus": true, "activeClass": "focus" }'>

                  <a class="input-group-append input-group-text" href="javascript:;">
                    <i id="clearSearchResultsTable" class="bi-x-lg" style="display: none;"></i>
                  </a>
                </div>
              </form>
            </div>

            <div class="col-auto mb-2">
              <div class="tom-select-custom">
                <select class="js-select js-datatable-filter form-select form-select-sm" autocomplete="off" data-target-column-index="1" data-target-table="datatbleWithFilter" data-hs-tom-select-options='{ "searchInDropdown": false, "hideSearch": true, "dropdownWidth": "10rem" }'>
                  <option value="null" selected>Tên tầng</option>
                  <option value="1">Tầng 1</option>
                  <option value="2">Tầng 2</option>
                  <option value="3">Tầng 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>


        <div class="col-auto mb-2">
          <div class="d-flex justify-content-between align-items-center">
            +Button({ className: 'btn-sm', title: 'Thêm mới', icon: 'bi-plus ms-2' })
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive datatable-custom">
      <table id="datatbleWithFilter" class="js-datatable table table-striped table-thead-bordered table-nowrap table-align-middle card-table" data-hs-datatables-options='{ "columnDefs": [{ "targets": [1], "orderable": false }], "order": [], "search": "#datatableWithFilterSearch", "isResponsive": true, "isShowPaging": false }'>
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Mã tầng</th>
            <th>Tên tầng</th>
            <th>Thứ tự hiển thị</th>
            <th>Thao tác</th>
          </tr>
        </thead>

        <tbody>
          each item in [1,2,3,4,5,6,7,8,9,10]
            tr 
              td= `#${item}`
              td F246
              td Tầng 2 giá 46
              td 1
              td 
                .row
                  <span class="icon icon-soft-primary icon-sm mx-1 hover-icon-soft-primary">
                    <i class="bi-pen"></i>
                  </span>

                  <span class="icon icon-sm mx-1 icon-soft-danger hover-icon-soft-danger">
                    <i class="bi-trash"></i>
                  </span>

        </tbody>
      </table>
    </div>

    <div class="card-footer">
      .row.justify-content-center.justify-content-md-between.align-items-center.flex-column.flex-md-row
        .col-auto
          .table-pagesize.d-flex.align-items-center.mb-2.mb-md-0
            p.mb-0 Hiển thị
            +Select({ classSelect: 'form-control-borderless', className: 'mx-2', options: dataPageSizeOptions })
            p.mb-0 1 trang
        .col-auto
          +Pagination({})
    </div>
  </div>